/*  */
/*404*/

body{background: url(../images/img-404bg.jpg) repeat-x; position: relative;}

.footer{position: absolute;bottom: 0; z-index: 1;}
.nofind{width: 100%;height:88vh;background: url(../images/img-404bg.jpg) repeat-x;}
.nofind-warp{width: 100%;}
.nofind .img-404{position: relative; display: block;margin: 100px auto 40px;width: 380px;height: 230px;background: url(../images/img-404.png) no-repeat;}
.nofind .img-here{position: relative; display: block;margin: 100px auto 40px;width: 380px;height: 230px;background: url(../images/img-here.png) no-repeat;}
.nofind-warp p{text-align: center;line-height: 60px;font-size: 30px;font-weight: bold;color: #fff;letter-spacing: 4px;text-shadow: 0 6px 10px rgba(0,0,0,.3);}
.homebt{display: block;margin: 30px auto;width: 128px;height: 34px;background: url(../images/img-404home.png) no-repeat;}
.homebt:hover{opacity: 0.8;}
.nofind-foot{z-index: 0;width: 100%;height: 170px;position: absolute;left: 0;bottom:60px;
	background: url(../images/img-404foot.png) repeat-x;
	-webkit-animation:fadeInRight 3s infinite;-moz-animation:fadeInRight 3s infinite;
}
@-webkit-keyframes fadeInRight{0%{opacity:0.2;bottom: 30px;}40%{opacity:0.6;bottom: 50px;}100%{opacity:0.2;bottom: 30px;}}
@-moz-keyframes fadeInRight{0%{opacity:0.2;bottom: 30px;}40%{opacity:0.6;bottom: 50px;}100%{opacity:0.2;bottom: 30px;}}
.nofind-logo{position: absolute;width: 100px;height: 88px;left: -100px;top: 250px;background: url(../images/img-logo.png) no-repeat;}
.letusGO{background: #fff; border: 1px solid #eee; width: 180px; height: 50px; font-size: 28px; border-radius: 30px; color: #96afc8; line-height: 50px; box-shadow: -2px 2px 8px 2px #96afc8; margin-top: 30px;}
.nofind-logo{    left: -120px;}