/*  */
/* 
 *
 *
 */

/***Ⅰ 手游分类  ***/
.flcont{margin-top: 20px;]}
.gamenm p{font-size: 12px;color: #999;margin-left: 20px;}
.gamenm span{font-size: 16px;color: #f25657;}
.flbq_list{width: 1200px;height: auto;}
.flbq_list li{float: left;width: 82px;height: 34px;line-height: 34px;text-align: center;background: #fff;border-radius: 4px;font-size: 14px;color: #666;margin:6px 18px 6px 0;}
.flbq_list li:hover,.flstyle{background: #589cf6 !important;color: #fff !important;}
/*分类游戏列表*/
.fl_list{margin-top: 20px;}
.fl_list .bt-c span{margin: 0 0 0 0px;}
.fl_list .bt-c>img{float: left;margin: 14px 8px;}
.fl_list .bt-c a{margin-right: 20px;}
.fl_lisall{margin-top: 20px;display: inline-block;}
.fl_lisall li{width: 180px;height: 230px;background: #fff;float: left;margin: 0 20px 20px 0;position: relative;    border: 1px solid #f5f5f5; box-sizing: border-box;}
.fl_lisall li img{display: block;width: 120px;height: 120px;margin: 20px auto;}
.fl_lisall li p{text-align: center;line-height: 30px;height: 30px;width: 160px;padding: 0 10px;overflow: hidden;font-size: 16px;color: #4c4c4c;}
.fl_lisall li>span{text-align: center;display: block;font-size: 12px;color: #19abff;line-height: 30px;height: 30px;}
.fl_lisall li:hover .fl_dowl{display: block;}
.fl_lisall li:hover{-webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);-moz-box-shadow: 0 15px 30px rgba(0,0,0,0.1);box-shadow: 0 15px 30px rgba(0,0,0,0.1);}
.fl_dowl{display: none;width: 180px;height: 80px;background: #fff;position: absolute;left: 0;bottom: 0;z-index: 2;}
.fl_dowl a{width: 96px;height: 28px;text-align: center;line-height: 28px;border: 1px solid #dbdbdb;border-radius: 4px;display: block;font-size: 14px;color: #4c4c4c;margin:8px auto 4px;}
.fl_dowl a:hover{background: #589cf6;border: 1px solid #589cf6;color: #fff;}
.fl_dowl span{font-size: 12px;color: #999;display: block;width: 180px;height: 26px;line-height: 26px;overflow: hidden;text-align: center;}
/*猜你喜欢*/
.bq-like{margin: 20px auto;}
.bq_likelis{width: 1200px;height: auto;margin: 10px auto;}
.bq_likelis ul li{float: left; margin:4px 16px 4px 0;color: #589cf6;line-height: 30px;height: 30px;display: block;white-space: nowrap;}
/*.bq_likelis ul li:hover{text-shadow:1px 2px 2px rgba(0,0,0,0.9);}*/
.flph_l{width:890px;margin-right: 30px;}

