/*  */
/*
 *
 *
 */

/*reset*/
.page-c{display: block;float: left;margin: 30px 0;width: 100%;}
.page-c>div{text-align: center; margin: 6px auto;}
.page-c>p{display: block;margin: 12px 0 0 0;font-family: '宋体';font-size: 14px;color: #808080;text-align: right;}
.page-c>p span{font-size: 24px;color: #16debd;}
.tab-cont{margin-top: 0;}
/*合集*/
.jh-list{height: auto;margin: 26px auto 36px;}
.jh-list-c{height: auto;}
.jh-list-c>ul{background: #589cf6;}
.jh-list-c>ul li{display: block;float: left;width: 280px;height: 280px;background: #fff;margin:10px;}
.jh-list-c>ul li img{width: 280px;height: 140px;}
.jh-list-c>ul li span{display: block;width: 250px;height: 26px;line-height: 26px;margin: 8px auto;color:#404040;font-size: 16px;overflow: hidden;}
.jh-list-c>ul li p{width: 250px;height: 56px;margin: 0 auto;color: #a6a6a6;font-size: 12px;line-height: 20px;overflow: hidden;display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-break: break-all;}
.jh-list-c>ul li i{display: block;float: left;width: auto;padding: 0 12px;height: 22px;line-height: 22px;text-align: center;font-size: 12px;color: #8ba8a3;border: 1px solid #8ba8a3;border-radius: 160px;margin: 10px 16px;}
.jh-list-c>ul li:hover{box-shadow: 0px 4px 20px 0 #d4eee9;}
.jh-list-c>ul li:hover i{color: #16debd; border: 1px solid #16debd;}
.jh-list-c>ul li:hover span{color: #16debd;}
.jh-list-c>ul li:hover p{color: #595959;}
/*合集列表*/ 
.lis-contop{height: 220px;margin: 20px auto;background: #fcfcfc;position: relative;}
.lis-contop>img{width: 440px;height: 220px;margin-right: 20px;display: block;float: left;}
.lstgame-name{width: 720px;height: 50px;border-bottom: 1px solid #eee;display: block;float: left;}
.lstgame-name p{display: block;float: left;width: 600px;height: 50px;font-size: 22px;color: #595959;line-height: 50px;font-weight: bold;}
.lstgame-name span{display: block;float: right;padding: 0 12px;height: 24px;line-height: 24px;margin: 12px 0;border: 1px solid #8ba8a3;border-radius: 11px;color: #8ba8a3;font-size: 12px;}
.top-js{margin: 10px 0 ;width: 720px;height: 80px;text-indent: 2em;color: #808080;font-size: 14px;line-height: 26px;overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-break: break-all;}
.top-time{width: 720px;height: 24px;line-height: 24px;color: #8ba8a3;font-size: 12px;}
.top-time span{margin-right: 36px;}
.top-bq{width: 736px;height: 35px;overflow: hidden;margin: 5px 0;font-size: 14px;}
.top-bq span{float: left;line-height: 30px;margin: 0 10px 0 0;font-size: 18px;color: #646565;}
.top-bq a{display: block;float: left;color: #666;padding: 0 14px;margin: 0px 10px 10px 0;height: 28px;background: #F4F5F4;border-radius: 20px;line-height: 28px;text-align: center;    box-shadow: -1px 3px 4px rgba(0,0,0,.2);}
.top-bq a:hover{color: #16debd;}
.zthj-list{height: auto;margin-top: 15px;}
.zthj-list>ul{width: 1244px;}
.zthj-list>ul>li{display: block;float: left;width: 380px;height: 260px;background: #fff;margin: 0 30px 20px 0;position: relative;}
.zthj-list>ul>li>u,.zthj-list>ul>li>i{width: 103px;height: 103px;position: absolute;right: -3px;top: -3px;z-index: 9;}
.zthj-list>ul>li>u{background: url(../images/ico-tuijian.png) no-repeat;}
.zthj-list>ul>li>i{background: url(../images/ico-mordow.png) no-repeat;}
.zthj-list>ul>li:hover{box-shadow: 0px 4px 20px 0 #d4eee9;}
.zthj-list>ul>li>a img{width: 100px;height: 100px;border-radius: 12px;display: block;float: left;margin: 20px;}
.ztli-name{display: block;float: left;width: 220px;height: 100px;margin-top: 20px;}
.ztli-name a{display: block;width: 220px;height: 24px;line-height: 24px;color: #595959;font-size: 16px;font-weight: bold;overflow: hidden;}
.ztli-name>p{color: #8ba8a3;font-size: 12px;width: 220px;height: 16px;overflow: hidden;line-height: 16px;margin: 8px 0;}

.star-c{width: 106px;height: 20px;display: block;float: left;position: relative; background: url(../images/ico-star2.png) repeat-x; margin-right: 6px;margin-top: 5px;}
.star-c p{width: 106px;height: 20px;position: absolute;left: 0;top: 0;background: url(../images/ico-star1.png) repeat-x;overflow: hidden;max-width: 106px;
line-height: 80px;}

.ztli-name>span{display: block;float: left;font-size: 22px;color: #8ba8a3;margin: 0 0 0 4px;font-weight: bold;}
.ztls-jj{width: 340px;height: 66px;margin: 0 0 0 20px;color: #999;font-size: 12px;line-height: 22px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-break: break-all;}
.ztls-bq{width: 360px;margin: 12px 0 0 14px;overflow: hidden;height: 32px;}
.ztls-bq a{display: block;float: left;padding: 0 16px;height: 28px;line-height: 26px;text-align: center;background: #f0f3f3;margin: 2px 10px 0 0;border-radius: 20px;color: #666;}
.ztls-bq a:hover{background: #16debd; color: #fff;}
.ztls-bq a.actived{background: #16debd; color: #fff;}
/*开服列表*/
.kf-list-c{height: auto;}
.kf-list-c>ul>li{display: block;float: left;margin-left: 5px;width: 800px;height: 150px;border-bottom: 1px dashed #979797;}
.kf-list-c>ul>li>a img{width: 100px;height: 100px;border-radius: 14px;display: block;float: left;margin: 25px 20px 25px 0;}
.kf-list-c>ul>li>a p{display: block;float: left;margin-top: 25px;width: 660px;height: 30px;line-height: 30px;font-size:18px;color: #4c4c4c;font-weight:bold;overflow: hidden;}
.kfgame-name{width: 670px;height: 60px;margin-top: 10px;}
.kfgame-name ul{width: 424px;height: 60px;display: block;float: left;margin-right: 16px;}
.kfgame-name ul li{display: block;float: left;width: 210px;height: 30px;line-height: 30px;color: #808080;font-size: 14px;overflow: hidden;}
.kfgame-name>span{display: inline-block;margin: 18px 10px;}
.kfgame-name>a{display: block;float: right;width: 120px;height: 40px;border:1px solid #589cf6;text-align: center;line-height: 40px;display: inline-block;margin: 10px 10px;color: #589cf6;font-size: 16px;border-radius: 10px;*margin-top: -45px;}
.kf-list-c>ul>li:hover{background: url(../images/bg-lin.png) repeat;}
.kf-list-c>ul>li:hover p{color: #589cf6;}
.kf-list-c>ul>li:hover .kfgame-name>a{color: #fff;background: #589cf6;}
/*礼包列表*/
.lb-list-c{height: auto;}
.lb-list-c>ul>li{display: block;float: left;margin-left: 5px;width: 800px;height: 140px;border-bottom: 1px dashed #979797;}
.lb-list-c>ul>li>a img{width: 100px;height: 100px;border-radius: 14px;display: block;float: left;margin: 20px 20px 15px 0;}
.lb-list-c>ul>li>a p{display: block;float: left;margin-top: 20px;width: 660px;height: 40px;line-height: 40px;font-size: 18px; color: #4c4c4c;overflow: hidden;font-weight: bold;}
.lb-list-c>ul>li>a p:hover{color:#ffaa00;}
.lb-listime>a{margin-top: -24px; display: block;float: right;width: 120px;height: 40px;border:1px solid #ffaa00;text-align: center;line-height: 40px;display: inline-block;color: #ffaa00;font-size: 16px;border-radius: 10px;*margin-top: -45px;}
.lb-list-c>ul>li:hover{background: url(../images/bg-lin.png) repeat;}
.lb-list-c>ul>li:hover>p{color: #ffaa00;font-weight:bold;}
.lb-list-c>ul>li:hover .lb-listime>a{color: #fff;background: #ffaa00;}
.lb-listime{width: 670px;}
.lb-listime p{font-size: 14px;color: #4c4c4c;width: 540px;height: 28px;line-height:28px;overflow: hidden;}
.lb-listime span{font-size: 14px;color: #8ba8a3;height: 26px;line-height: 26px;margin-right: 26px;}
.lb-listime span i{color: #589cf6;}
.lb-listime i img{width:16px}
/*领取 查看 淘号 过期*/
.info-but .lb-listime>a{color: #589cf6 !important;border: 1px solid #589cf6 !important; }
.th-but .lb-listime>a{color: #19abff !important;border: 1px solid #19abff !important;}
.gq-but .lb-listime>a{border: 1px solid #e6e6e6 !important; background: #e6e6e6 !important; color: #999 !important;}
.info-but:hover .lb-listime>a{background: #589cf6 !important; color: #fff !important;}
.info-but:hover>p{color: #589cf6 !important;}
.th-but:hover>p{color: #19abff !important;}
.th-but:hover .lb-listime>a{background: #19abff !important; color: #fff !important;}

/*平台分类*/
.az-game{margin-top: 30px;height: auto;}
.tab-con-b{margin-top: 20px;height: auto;	display: table; background: #fff;position:relative;min-height: 110px;}
.tab-con-b p{float: left;width: 100px;height: 110px;position:absolute;left:0; top: calc(50% - 55px);*top: 10px;}
.tab-con-b p img{margin:20px 30px 0;}
.tab-con-b p span{display: block;width:100px;text-align: center;font-size: 12px;color: #8ba8a3;margin-top: 14px;}
.tab-con-b ul{float: left;width: 1070px;height: auto;  border-left: 1px solid #16debd;padding:0 0 16px 20px;margin-left:100px; min-height: 93px;}
.tab-con-b ul li{display: block;float: left;padding:5px 0;position: relative;margin-top: 15px;*margin-bottom: 10px;}
.tab-con-b ul li a{font-size: 14px;color: #808080;}
.tab-con-b ul li a:hover{color: #589cf6;}
.tab-con-b ul li a span{color: #fff; display: inline-block;width: 20px;height: 10px; text-align: center;font-weight: bold;}
.pt-style span{color: #16debd !important;}
.pt-style a{color: #589cf6 !important;}

/*列表tab*/
.lis-tab{height: auto;margin-top: 30px;}
.listabtop{width: 180px;margin: 0 auto;}
.listabtop span{width: 40px;margin: 0 10px;}
.listabtop span img{left: 5px;}
.gamelisall{height: auto;}
.gamelisall>ul>li{display: block;float: left;width: 280px;height: 210px;margin: 10px;background: #fff;}
.gamelisall>ul>li>a p{display: block;float: left;width: 240px;height: 20px;line-height: 20px;margin: 20px;color: #4c4c4c;font-size: 16px;overflow: hidden;}
.gamelisall>ul li>a img{display: block;float: left;width: 100px;height: 100px;margin: 0 20px;border-radius: 14px;}
.game-size{width: 120px;height: 100px;display: block;float: left;}
.game-size>p{width: 120px;height: 20px;line-height: 20px;color: #8ba8a3;font-size: 14px;overflow: hidden;white-space: nowrap;}
.game-size>span{display: block;font-size: 14px;color: #589cf6;margin: 10px 0;}
.game-size>a{display: block;width: 100px;height: 28px;border: 1px solid #e6e6e6;border-radius: 4px;text-align: center;line-height: 28px;color: #4c4c4c;font-size: 14px;}
.gamelisall>ul>li>span{font-size: 12px;color: #8ba8a3;width: 250px;height: 20px;display: block;float: left;overflow: hidden;margin:16px 20px;line-height: 20px;}
.gamelisall>ul>li:hover{box-shadow: 0px 4px 20px 0 #d4eee9;}
.gamelisall>ul>li:hover .game-size>a{background: #16debd;color: #fff;}

/*排行榜*/
.phb-cont{display: table;margin-top: 20px;}
.phb-left{width: 280px;height: 460px;margin-right: 30px;}
.phb-right{width: 890px;height: auto;min-height: 600px;}
.phb-left ul li{width: 280px;height: 50px;margin-bottom:1px;line-height: 50px;text-align: center;font-size: 14px;color:#666;background: #fcfcfc;}
.phb-left ul li:hover{color: #589cf6;}
.phb-styl{background: #16debd !important;color: #fff !important;font-weight: bold;}
.phb-r-top{width: 890px;height: auto;overflow: hidden;}
.phb-r-top ul{display: table; width: 890px;background: #fff;padding: 10px 0;}
.phb-r-top ul li{display: block;float: left;padding: 10px 5px; position: relative;}
.phb-r-top ul li a{font-size: 14px;color: #808080;}
.phb-r-top ul li a:hover{color: #589cf6;}
.phb-r-top ul li a span{color: #fff; display: inline-block;width: 20px;height: 10px; text-align: center;font-weight: bold;*height: 19px; *line-height:19px;}
.phb-lisc{width: 890px;margin-top: 20px;}
.phb-lisc>ul>li{height: 200px;margin-bottom: 1px ;background: #fff;}
.phlis-lef{width: 100px;height: 160px;margin: 20px;}
.phlis-lef span{display: block;float: left;text-align: center;line-height: 45px;font-weight: bold;font-size: 28px;color: #fff;width: 50px;height: 50px;background: url(../images/ico-phlnm.png) no-repeat;}
.phlis-lef img{display: block;float: left;margin-top: 10px;width: 100px;height: 100px;border-radius: 12px;}
.phgame-name{width: 720px;height: 70px;margin-top: 20px;}
.phgame-name>a p{width: 580px;height: 36px;color: #595959;font-size: 18px;font-weight: bold;overflow: hidden;line-height: 36px;}
.gam-pf{width: 580px;height: 26px;}
.gam-pf ul{width: 150px;}
.gam-pf ul li{display: block;float: left;width: 20px;height: 20px;margin-right: 10px;}
.gam-pf ul li img{width: 20px;height: 20px;}
.gam-pf span{display: block;float: left;font-size: 22px;font-weight: bold;color: #8ba8a3;margin-right: 36px;}
.gam-pf>p{display: block;float: left;font-size: 12px;color: #8ba8a3;margin-top: 10px;}
.game-dowl{display: block;float: right;margin-top: -45px;width: 120px;height: 40px;text-align: center;line-height: 40px;font-size: 16px;color: #589cf6;border: 1px solid #589cf6;border-radius: 8px;}
.game-dowl:hover{background: #589cf6;color: #fff;}
.phb-lisc>ul>li>p{display: block;float: left;margin: 10px 0;line-height: 22px;font-size: 14px;color: #808080;width: 710px;height: 48px;overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;}
.pq-lis ul{display: block;float: left;width: 710px;height: 28px;overflow: hidden;}
.pq-lis ul li{float: left;min-width: 60px;padding:0 6px;height: 28px;margin-right: 10px;text-align: center;line-height: 28px;background: #f0f3f3;border-radius: 14px;color: #666;font-size: 14px;}
.phb-lisc>ul>li:hover .phgame-name>a p{color: #589cf6;}
.pq-lis ul li:hover{color: #fff;background: #16debd;}

/*新闻攻略*/
.news-list{width: 790px;height: auto;margin-left: 10px;}
.news-list>ul>li{width: 790px;height: 170px;display: block;border-bottom: 1px solid #e6e6e6;}
.news-list>ul>li:hover{background:url(../images/bg-lin.png) repeat;}
.news-list>ul>li>a img{width: 216px;height: 120px;border-radius: 10px;display: block;float: left;margin: 20px 20px 0 0;}
.news-list>ul>li>a p{display: block;float: left;width: 550px;height: 26px;line-height: 26px;overflow: hidden;margin: 20px 0 10px 0;font-size: 18px;font-weight: bold;color: #404040;display: block;}
.news-list>ul>li>p{display: block;float: left;width: 550px;font-size: 14px;color: #808080;height: 50px;line-height: 25px;overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;}
.news-list>ul>li>div{width: 550px;height: 26px;line-height: 25px;margin-top: 4px;display: block;float: left;font-size: 12px;color: #8ba8a3;}
.news-list>ul>li>div span{margin:0 36px 0 6px;}
.news-list>ul>li>div i{width: 12px;height: 12px;display: inline-block;background: url(../images/icp-time-if.png) no-repeat;}
.news-list>ul>li>div img{margin-top: -2px;}
.news-list>ul>li:hover a{color: #589cf6;}
.news-list>ul>li:hover>div i{background: url(../images/ico-time-2.png) no-repeat;}
.news-list>ul>li:hover>div .pltime{color: #feaa48;}




