/*  */

/**/
.bgwhite{background: #fff;width: 780px;padding: 0 0;}
/*新闻攻略*/
.news-list{width: 790px;height: auto;margin-left: 10px;margin-top: 30px;}
.news-list>ul li{width: 790px;height: 170px;display: block;border-bottom: 1px solid #e6e6e6;}
.news-list>ul li:hover{background:url(../images/bg-lin.png) repeat;}
.news-list>ul li a img{width:181px;height: 120px;border-radius: 10px;display: block;float: left;margin: 20px 20px 0 0;}
.news-list>ul li a span{display: block;float: left;width: 580px;height: 26px;line-height: 26px;overflow: hidden;margin: 20px 0 10px 0;font-size: 18px;font-weight: bold;color: #404040;display: block;}
.news-list>ul li p{display: block;float: left;width: 580px;font-size: 14px;color: #808080;height: 50px;line-height: 25px;overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;}
.news-list>ul li div{width: 580px;height: 26px;line-height: 25px;margin-top: 4px;display: block;float: left;font-size: 12px;color: #8ba8a3;}
.news-list>ul li div span{margin:0 36px 0 6px;}
.news-list>ul li div i{width: 12px;height: 12px;display: inline-block;background: url(../images/icp-time-if.png) no-repeat;}
.news-list>ul li .nm img{margin-top: -2px;}
.news-list>ul li:hover a span{color: #2d72eb;}
.news-list>ul li .ontime i{background: url(../images/ico-time-2.png) no-repeat;}
.news-list>ul li .ontime .pltime{color: #f00;}
/*热门话题*/
.hot-con{width: 380px;height: auto;margin: 10px 0 20px 0;}
.hot-con li{width: 380px;height: 26px;margin: 6px 0;line-height: 26px;}
.hot-con li i,.hot-con li a{display: block;float: left;}
.hot-con li a{width: 350px;height: 26px;overflow : hidden; text-overflow: ellipsis; white-space: nowrap; color: #404040; font-size: 14px;}
.hot-con li i{width: 7px;height: 7px;background: #e6e6e6;border-radius: 50%;margin:10px 10px 0 10px;}
.hot-con li:hover a{color: #2d72eb;}
.hot-con li:hover i{background:#2d72eb;}
.rtab{margin-left: 10px;}
.rtab span{display: block; float: left; width: auto; padding: 0 3px; height: 20px; line-height: 20px; margin: 2px 0 0 6px; text-align: center; font-size: 14px; color: #4c4c4c; cursor: pointer;}
.rtabstyle{color: #2d72eb !important;}
.rtablist{width: 100%; display: none;}
.rtabwarp{width: 380px;}
/*r*/
.cont-ar{width: 360px;margin: 20px 0;}
.cont-ar ul{display: block;width: 350px;height: auto;overflow: hidden;margin-left: 6px;}
.cont-ar ul li{display: block;float: left;width: 345px;height: 172px;overflow: hidden;margin-bottom: 22px;position: relative;border-radius: 8px;}
.cont-ar ul li img{width:345px;height: 172px;border-radius: 8px;}
.cont-ar ul li p{position: absolute;border-radius: 8px;left: 0;bottom: 0;width: 350px;height: 100px;text-align: center;font-size: 16px;color: #fff; line-height: 150px; overflow: hidden;background: url(../images/bg-shadow.png) repeat-x;transition: all .1s linear;-webkit-transition: all .1s linear;}
.cont-ar ul li:hover p{height: 70px;line-height:90px;}
/*安卓游戏排行*/
.az-ph{width: 380px;height: auto;display: table;float:left; margin-top: 20px;}
.az-ph li{width: 380px;height: 50px;float: left;padding: 10px 0;}
.az-ph li>i{width: 20px;height: 20px;background: #e5e5e5;display: block;float: left;text-align: center;line-height: 20px;color: #999;font-size:19px;font-family: '宋体';border-radius: 50%;margin: 15px 10px;}
.az-ph li:nth-child(1) i{background: #2d72eb; color: #fff;}
.az-ph li:nth-child(2) i{background: #4f87ea; color: #fff;}
.az-ph li:nth-child(3) i{background: #82a6e7; color: #fff;}
.az-ph li>a img{display: block;float: left;width: 50px;height: 50px;margin-right: 20px;border-radius: 6px;}
.az-ph li>a p{display: block;float: left;width: 260px;height: 20px;color: #404040;font-size: 16px; margin-bottom: 4px;overflow: hidden;}
.az-ph li>div{display: block;float: left;width: 180px;height: 30px;line-height: 30px;font-size: 12px;color: #8ba8a3;}
.az-ph li>a span{display: block;float: left;width: 60px;height: 26px;border: 1px solid #2d72eb;text-align: center;line-height: 26px;color: #2d72eb;border-radius: 6px;}
.az-ph li:hover>a span{background: #2d72eb;color: #fff;}
.az-ph li:hover>p a span{color: #404040;font-weight: bold;}
.az-ph li:hover{background:#f0f0f0;}
/*info*/
/**详情**/
.kf-info{width: 780px;height: 100px;border-bottom: 1px solid #e6e6e6;margin: 0 auto;}
.kf-info> h1{font-size: 26px;color: #404040;height: 60px;width: 800px;overflow: hidden;line-height: 60px;text-align: center; margin-top: 10px;}
.kf-info ul{width: 780px;height: 20px;margin: 10px 0 0 0;text-align: center;}
.kf-info ul li{display:inline-block;+float: left; font-size: 14px;color: #999;margin:0 16px 0 14px;}
.kf-info ul li a{color: #808080;}
.lokph{cursor: pointer;position: relative;float:right;color: #a5a5a5;font-size: 14px;}
.lokph i img{margin:-4px 6px 0 0 ;}
.lokph:hover .phewm{display: block;}
.lokph .phewm{display: none;position: absolute;width: 160px;height: 180px;background: #fff;right: -36px;top: 28px;border: 1px solid #d9e9d5;z-index: 1;}
.lokph .phewm p{text-align: center;line-height: 30px;}
.lokph .phewm img{width: 140px;height: 140px;display: block;margin: 10px auto 2px;}
/*专题*/
.lk-zt{margin: 30px auto;width: 780px;height: 120px;background: #f0f0f0;}
.lk-zt>img{width: 100px; height: 100px; border-radius: 14px; display: block; float: left; margin: 10px 20px;}
.lk-zt>p{width: 610px;height: 30px;overflow: hidden;line-height: 30px;float: left;margin-top: 16px;font-size: 16px;color: #4c4c4c;}
.lk-zt>p a{font-size: 12px;color: #8ba8a3;margin-left: 20px;}
.gameinfo-a,.gameinfo-b{width: 610px;overflow: hidden;line-height: 30px;height: 30px;float: left;}
.gameinfo-a li{display: block;float: left;margin-right: 30px;font-size: 14px;color: #808080;}
.gameinfo-b li{display: block;float: left;font-size: 12px;color: #fff;width: 66px;height: 22px;line-height: 22px;text-align: center;background: #feaa48;border-radius: 6px;margin:6px 14px 0 0;}
.gameinfo-b li a{color:#fff;}
.txt-con{width: 780px;height: auto;margin: 0 auto 30px;}
.txt-con>p{font-size: 16px;color: #595959;line-height: 30px;margin: 10px 0;}
.txt-con>p img{display: block;max-width: 760px; margin: 15px auto;}
.txt-con>p span{color: #f25657;}
.txt-con>span{display: block;font-size: 15px;color: #feaa48;font-weight: bold;line-height: 30px;}
.txt-con>h3{margin: 32px 0px 24px; padding: 0px; font-weight: bold; line-height: 25px; border-left-width: 8px; border-left-color: #2577e3; border-left-style: solid; text-indent: 20px; font-size: 20px; font-family: "Microsoft YaHei";}

/*游戏关联*/
.Left_downl { width: 100%; height: 150px; margin: 20px 0; background: #f2f4fa;  position: relative; }
.ewm_wrap{position: absolute;width: 120px;height: 150px;padding:0 10px;position: absolute;right: 10px;top: 2px;}
.ewm_wrap p{width: 100%;text-align: center;font-size: 14px;color: #333;line-height: 30px;}
.ewm_wrap img{display: block;margin: 0 auto;width: 110px;height: 110px;}
.Left_downl .img { display: block; float: left; overflow: hidden; margin: 20px; }
.Left_downl .img, .Left_downl .img img { width: 110px; height: 110px; border-radius: 22px; }
.Left_downl .bt { display: block; float: left; max-width: 570px; height: 36px; line-height: 36px; font-size: 18px; color: #2e2e2e; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: 20px; }
.Left_downl .zq {float: left;font-size: 14px;line-height: 40px;margin-left: 20px;color: #8ba8a3; margin-left:20px;margin-top: 20px; line-height:36px;}
.Left_downl .info { display: block; float: left; width: 630px; height: 22px; line-height: 22px; font-size: 12px; color: #9e9e9e; }
.Left_downl .info span { margin-right: 20px; }
.Left_downl .downlbtn { margin-top: 10px; display: block; float: left; width: 630px; height: 36px; }
.Left_downl .downlbtn a { display: block; float: left; width: 120px; height: 36px; background: #e6e7ed; border-radius: 3px; margin-right: 20px; text-align: center; line-height: 36px; color: #fff; font-weight: bold; font-size: 14px; }
.Left_downl .downlbtn a i { display: inline-block; background: url(../images/ico-img4.png) no-repeat; vertical-align: sub; margin-right: 4px; }
.Left_downl .downlbtn a p { display: inline-block; }
.Left_downl .downlbtn a.az { background: #29cc96; }
.Left_downl .downlbtn a.az i { height: 18px; width: 14px; background-position: -181px -83px; }
.Left_downl .downlbtn a.ios { background: #4595e6; }
.Left_downl .downlbtn a.ios i { height: 18px; width: 15px; background-position: -125px -81px; }
.Left_downl .downlbtn a.pc { background: #f2ae24; }
.Left_downl .downlbtn a.pc i { height: 14px; width: 16px; background-position: -153px -84px; }
.Left_downl .downlbtn a.gray_color { background: #e6e7ed; }
.Left_cent { width: 100%; height: auto; margin: 40px 0; }
.Left_cent .centwrap { display: table; width: 100%; height: auto; font-size: 16px; color: #525252; }
.Left_cent .centwrap img { max-width: 100%; display: block; margin: 15px auto; }
.Left_cent .pager { margin: 30px auto; }
.Lef_2 { width: 100%; height: auto; margin-bottom: 40px; float: left; width: 100%; }
.Lef_2 .Lsty_1 ul li a { width: 700px; }
.Lef_3 { width: 100%; height: auto; margin-bottom: 40px; float: left; }
.Min-cent .Min_R { float: right; width: 345px; height: auto; }

/*.txt-con table{margin: 30px auto;}
.txt-con tr td{line-height:30px;font-size: 14px;color: #808080;padding: 10px;}
.tablesty{display: block; margin: 10px auto;border-top: 2px solid #12b89c;width: 780px;}
.tablesty ,.lb-info-c tr,.tablesty tr td{border: 1px solid #e6e6e6;}*/
/*.tablesty td{padding: 14px 0;width: 200px; text-align: center; color: #4c4c4c; font-size: 16px;font-weight: bold;}*/
/*.tablesty td a{color: #19abff;font-size: 14px; text-decoration: underline;}*/

.gameinfo{margin: 10px 0;}
.gameinfo p{font-weight: bold;line-height: 30px; font-size: 14px; color: #808080;}
.gameinfo span{font-weight: normal;display: block;float: left;width: 76px;}
/*相关游戏*/
.gamehj-lis{height: auto;margin-bottom: 20px;}
.gamehj-lis>ul{width:810px;display: table;}
.gamehj-lis>ul>li{display: block;float: left;width: 250px;height: 70px;margin: 20px 20px 0 0;}
.gamehj-lis>ul>li>a img{width: 70px;height: 70px;display: block;float: left;margin-right: 10px;border-radius: 12px;}
.gamehj-lis>ul>li>a p{display: block;float: left;width: 170px;overflow: hidden;height: 24px;line-height: 24px;font-size: 16px;color: #4c4c4c;margin-top: 2px;}
.gamehj-lis>ul>li:hover>a p{color: #2d72eb;}
.gamehj-lis>ul>li>p{display: block;float: left;font-size: 12px;color: #82a6e7;width: 160px;height: 20px;line-height: 22px;}
.gamehj-lis>ul>li>p a{color: #82a6e7;}

/*面包屑*/
.brednav{height: 20px;margin: 20px 0;}
.brednav p{line-height: 20px;height: 20px;color: #808080;font-size: 14px;}
.brednav p a{color: #808080;}
.brednav p a:hover{color: #12B89C;}
/*nav2*/
.top-nav{height: 55px;margin: 20px auto;}
.a_style{background: #2d72eb !important;border-right: 1px solid #12b89c !important;padding-top: 3px;margin-top:7px !important;}
.top-nav a{display: block;width: 200px;height: 45px;float: left;background: #444;text-align: center;line-height: 45px;font-size: 18px;margin-top: 10px;color: #fff;border-right: 1px solid #555;border-radius: 5px 5px 0px 0px;transition: all .1s linear;-webkit-transition: all .1s linear;}
.top-nav a:hover{background: #2d72eb !important;padding-top: 5px;margin-top: 5px !important;border-right: 1px solid #12b89c !important;}
/*tybt*/
/*.bt-c,.bt-c2{width: 100%;height: 45px; }*/
/*.bt-c p,.bt-c h2{display: block;float: left;width: auto;color: #4c4c4c;font-size: 22px;line-height: 42px;font-weight: normal;}*/
/*.bt-c a{line-height: 30px;font-size: 14px;color: #82a6e7;margin:5px 0 0 20px;height: 30px;display: inline-block;}*/
/*.bt-c>a:hover{color: #2d72eb;}*/
/*.bt-c>span{display: block;float: left;width: auto;height: 30px;line-height: 30px;margin: 10px 0 0 20px;text-align: center;font-size: 14px;color: #4c4c4c;cursor: pointer;position: relative;padding: 0 3px;}*/
/*.bt-c>span img{display: none;position: absolute;left: 8px;bottom: 4px;}*/
/*.bttab-style{color: #2d72eb !important;}
.tab-list{height: auto;margin-top: 15px;display: none;}
.bt-c>div a:hover{color: #2d72eb;}
.bt-c i{display: inline-block;}
.bt-c i:hover a{color: #2d72eb;}
.game-num{display: block;float: left;font-size: 13px;color: #8ba8a3;margin: 14px 0 0 10px;}
.game-num span{color: #2d72eb;}
.bt-c2{height: 24px;}
.bt-c2 p,.bt-c2 h2{font-weight:normal;display: block;float: left;text-indent: .6em;width: auto;font-size: 20px;color: #4c4c4c;line-height: 22px;border-left: 5px solid #589cf6;}
.bt-c2 a{float: right;line-height: 24px; font-size: 14px;  color: #8ba8a3;  margin: 0 0 0 20px;   height: 24px;  display: inline-block;}
.bt-link{margin-left: 15px;}
.bt-link a{margin: 10px 5px 0 5px;color: #899BB2;}*/

.tab-link a{display: none;}
.con-left{width: 780px;margin-right: 30px;}
.con-right{width: 360px;margin-left: 0px;}
.con-all:after{content: ' ';display: block;clear: both;}
.page-c{width:100%;float:left;}
#page{display:table;margin: 30px auto 30px;}
#page li{display: inline-block;}
#page a,#page span{display: inline-block;width: auto;padding:0 10px;height: 30px;text-align: center;line-height: 30px;color: #666;font-size: 14px;border-radius: 5px;border: 1px solid #e6e6e6;margin: 0 5px;}
#page span{background-color: #589cf6!important;color: #fff!important;}
#page a:hover{background-color: #589cf6!important;color: #fff!important;}
.activP{background-color:#589cf6!important;color:#fff!important}
.yymengban{display: none; width: 100%;height:2000px;position: fixed;z-index: 999;;background: rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);left: 0;top: 0;}
.yywrap{display:none; width: 600px;height: 300px;position: fixed;left: 50%;top: 50%;margin: -150px 0 0 -300px;background: #fff;border-radius: 8px;z-index: 1000;cursor: initial;}
.closebtn{position: absolute;right: 10px;top: 5px;font: 20px/18px microsoft yahei; color: #2577e3; cursor: pointer;}
.closebtn:hover{opacity: 0.88;}
.yywrap .yy_L{width: 320px;height: 260px;float: left;margin: 20px;}
.yywrap .yy_L .phone{width: 300px;height: 45px;font-size: 14px;line-height: 45px;padding: 0 10px;border:1px solid #ccc ; display: block; margin: 20px auto 0 auto; border-radius: 5px;}
.yywrap .yy_L .phone:focus{border:1px solid #2577e3 ;}
.yywrap .yy_L .tips{width: 320px;text-align: center;line-height: 45px;font: 16/45;margin: 10px auto;color: #999;}
.yybtn_bs,.yybtn_br{width: 330px;height: 45px;line-height: 45px;text-align: center;border-radius:3px;margin: 10px auto 20px;font-size: 16px;cursor: pointer;}
.yybtn_bs{background: #2577e3;color: #fff;}
.yybtn_bs:hover,.yybtn_br:hover{opacity: 0.88;}
.yybtn_br{color: #2577e3;border: 1px solid #2577e3;}
.yy_R{float: right;width: 190px;height: 252px;margin:35px 20px 0;}
.yy_R p{width: 100%;text-align: center;font: 14px/30px;color: #666;}
.yy_R img{width: 170px;height: 170px;margin: 10px 5px;}

