/*  */

/* 
 * @date 2017-05-05 11:51:27
 *
 * 排行榜
 */

.star-c{width: 106px;height: 20px;display: block;float: left;position: relative;background: url(../images/ico-star2.png) repeat-x;margin-right: 15px;margin-top: 5px;}
.star-c p{width: 106px;height: 20px;position: absolute;left: 0;top: 0;background: url(../images/ico-star1.png) repeat-x;overflow: hidden;max-width: 106px;line-height: 80px;}
/*排行榜*/
.phb-cont{display: table;margin-top: 20px;width: 100%;}
.phb-left{width: 278px;height: auto;margin-right: 30px;    border: 1px solid #f2f2f2;box-sizing: border-box;}
.phb-right{width: 890px;height: auto;min-height: 600px;}
.phb-left ul li{width: 276px;height:auto;}
.phb-left ul li p{width: 276px;height: 50px;margin-bottom:1px;line-height: 50px;text-align: center;font-size: 14px;color:#666;background: #fcfcfc;cursor: pointer;float: left;}
.phb-left ul li:hover p{color: #589cf6;}
.phb-styl p{background: #589cf6 !important;color: #fff !important;font-weight: bold;box-shadow: 0 8px 20px rgba(44,114,235,.3);position: relative;z-index: 2;}
.phb-list{width: 270px;background: #fff;margin:0 0 10px 5px;padding: 10px 0;display: none;}
.phb-list a{width: 40%;display: block;float: left;height: 40px;line-height: 40px;padding: 0 4%;text-align: center;overflow: hidden;font-size: 14px;color: #666;}
.phb-list a:hover{color: #589cf6;}
.phb-list .active{color: #589cf6;}

/*phbR LIST*/
.phb-r-top{width: 890px;height: auto;background: #fff;padding-bottom: 10px;display: table;}
.phb-r-top ul{display: block;width: 890px;padding: 10px 0;max-height: 120px;overflow: hidden;position: relative;}
.phb-r-top ul li{display: block;float: left;padding: 10px 5px;position: relative;}
.phb-r-top ul li a{font-size: 14px;color: #808080;}
.phb-r-top ul li a:hover{color: #589cf6;}
.phb-r-top ul li span{color: #fff;display: inline-block;width: 20px;height: 10px;text-align: center;font-weight: bold;*height: 19px;*line-height:19px;}
.ls-showmor p{font-size: 14px;color: #589cf6;text-align: center;line-height: 30px;height: 30px;width: 80px;background: #f0f0f0;font-weight: bold;cursor: pointer;border-bottom-left-radius: 15px;border-top-left-radius: 15px;}
.ls-showmor p:hover{background: #589cf6;color: #fff;box-shadow: -4px 2px 10px rgba(44,114,235,.3);}
.phb-lisc{width: 890px;margin-top: 0px;}
.phb-lisc>ul>li{height: auto;display:block;float: left; margin-bottom: 1px ;background: #fff;padding-left: 10px;}
.phlis-lef{width: 100px;height: 100px;margin:35px 20px;position: relative;}
.phlis-lef span{display: block;float: left;text-align: center;line-height: 45px;font-weight: bold;font-size: 28px;color: #fff;width: 50px;height: 50px;
background: url(../images/ico-phlist.png) no-repeat;position: absolute;left: -20px;top: -20px;    z-index: 2;}
.phlis-lef img{display: block;float: left;margin-top: 10px;width: 100px;height: 100px;border-radius: 12px;}
.phgame-name{width: 720px;height: 70px;margin-top: 20px;}
.phgame-name>a p{width: 580px;height: 36px;color: #595959;font-size: 18px;font-weight: bold;overflow: hidden;line-height: 36px;}
.gam-pf{width: 580px;height: 26px;}
.gam-pf>p{display: block;float: left;font-size: 12px;color: #8ba8a3;margin-top: 10px;}
.game-dowl{display: block;float: right;margin-top: -45px;width: 120px;height: 40px;text-align: center;line-height: 40px;font-size: 16px;color: #589cf6;border: 1px solid #589cf6;border-radius: 4px;}
.game-dowl:hover{background: #589cf6;color: #fff;}
.phb-lisc>ul>li>p{display: block;float: left;margin: 10px 0;line-height: 22px;font-size: 14px;color: #808080;width: 710px;height: 48px;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;}
.pq-lis ul{display: block;float: left;width: 710px;height: 28px;overflow: hidden;}
.pq-lis ul li{float: left;width: 72px;height: 28px;margin-right: 10px;text-align: center;line-height: 28px;background: #f0f3f3;border-radius:4px;color: #666;font-size: 14px;}
.phb-lisc>ul>li:hover .phgame-name>a p{color: #589cf6;}
.pq-lis ul li:hover{color: #fff;background: #589cf6;}
.pt-style span{color: #589cf6 !important;}
.pt-style a{color: #589cf6 !important;}
